body{
    background-image: radial-gradient(rgb(71, 200, 94),rgb(103, 103, 189),green);
    color: rgb(23, 21, 17);
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: red;
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 02em 1rem;
}

#cabecera #logo{
    width: 50px;
    height: 50px;
    vertical-align: middle;

}

#container{
    width: 70%;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;

}

#container h1{
    font-size: 20px;
}

#post{
    background-color: white;
    padding: 1em;
}